.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ddb892;
    padding: 3%;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-menu.open {
    display: block;
  }
  
  .navbar-item {
    margin: 0 10px;
  }
  
  .navbar-item a {
    color: #333;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .navbar-menu {
      display: none;
    }
  
    .navbar-toggle {
      border: none;
      background: none;
      cursor: pointer;
      padding: 5px;
    }
  
    .navbar-toggle-icon {
      display: block;
      width: 20px;
      height: 2px;
      background-color: #333;
      margin: 4px 0;
    }
  
    .navbar-menu.open {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #f1f1f1;
      padding: 10px;
    }
  
    .navbar-item {
      margin: 10px 0;
    }
  }  